* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(61, 135, 158);
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#divContainer {
  background-color: white;
  width: 960px;
  height: 960px;
  display: flex;
  flex-wrap: wrap;
}